* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0%;
  padding: 0%;
}
html {
  font-size: 62.5%;
}

body {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

header {
  position: absolute;
  height: 76px;
  width: 100%;
  top: 0px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(182, 180, 180, 0.8);
  padding: 0 20px;
}

.search {
  display: flex;
  flex-direction: row;
}

.search-text {
  margin: 0%;
  margin-left: 10px;
  font-size: 1.6rem;
  color: rgba(36, 29, 31, 0.7);
}

.hero {
  width: 100vw;
  height: 540px;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url("images/hero-image.png");
  background-position: left;
  background-size: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0px 1.5rem;
}

.hero-content p {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.hero-content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.hero-tracker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0px;
}

.motto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0px;
}

.stories {
  width: 100vw;
  height: 280px;
  margin-bottom: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #ffffff;
  align-items: flex-start;
  padding: 1rem;
}

.story1 {
  background-image: url("/images/Rectangle 4.png");
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
}

.story2 {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("images/Rectangle\ 5.png");
  background-size: cover;
}

.story3 {
  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("images/Rectangle\ 6.png");
  background-size: cover;
}

.stories .story-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.story-details .story-date {
  position: absolute;
  right: 10px;
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
}

.story-details .story-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.story-details .story-category {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.load-more {
  font-size: 2rem;
  font-weight: 700;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: #241d1f;
  border-radius: 10px;
  padding: 1.5rem 0;
}

.discover-me {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  margin: 2rem 0 1rem 0;
}

.discover-me p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 18px;
  color: #241d1f;
}

.story4 {
  background-image: url("/images/Rectangle 8.png");
  background-size: cover;
}

.more-stories {
  width: 100vw;
  height: 280px;
  margin: 1rem 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  align-items: flex-start;
}

.more-story1 {
  width: 50vw;
  height: 280px;
  background: #c4c4c4;
  background: url("images/Rectangle\ 9.png");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #ffffff;
  align-items: flex-start;
  margin-right: 1rem;
  padding: 1rem;
}

.more-story2 {
  width: 50vw;
  height: 280px;
  background: #c4c4c4;
  background: url("images/Rectangle\ 10.png");
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: #ffffff;
  align-items: flex-start;
  padding: 1rem;
}

.more-stories_title {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.more-stories_details {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0 1rem 0;
}

.line,
.description-image {
  width: 90vw;
  margin-bottom: 10px;
}

.fa-brands {
  margin: 5px;
  color: #241d1f;
}

.search-box {
  display: flex;
  height: 36px;
  width: 90%;
  border: 1px solid rgba(36, 29, 31, 0.5);
  border-radius: 10px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.search-input {
  border: 0;
  border-radius: 10px;
  margin: 0 5px;
  outline: none;
  color: rgba(36, 29, 31, 0.5);
  width: 100%;
}

.search-input::placeholder {
  color: rgba(36, 29, 31, 0.5);
}

#subscribe {
  align-self: flex-start;
  margin-left: 15px;
}

.subscribe-box {
  box-sizing: border-box;
  width: 90%;
  height: 222px;
  background: #ffffff;
  border: 1px solid rgba(36, 29, 31, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
}

.email-box {
  box-sizing: border-box;
  width: 80%;
  height: 48px;
  background: #ffffff;
  border: 1px solid rgba(36, 29, 31, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
}

.email-input {
  border: none;
  outline: none;
  margin: 0 5px;
  color: rgba(36, 29, 31, 0.5);
  width: 100%;
}

.email-input::placeholder {
  color: rgba(36, 29, 31, 0.5);
  font-size: 16px;
}

.email-icon {
  color: rgba(36, 29, 31, 0.5);
}

.subscribe-button {
  width: 173px;
  height: 48px;
  left: 120px;
  top: 3059px;
  margin-top: 20px;
  background: #241d1f;
  border-radius: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  border: none;
}

.footer {
  display: flex;
  justify-content: space-around;
}

.footer ul {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: rgba(36, 29, 31, 0.8);
  padding-left: 0%;
}

.footer-list-item {
  margin-top: 10px;
}

.footer-logo {
  margin-left: 20px;
}
